{if isset($smarty.get.tab)}
    {$tab=$smarty.get.tab}
{else}
    {$tab='engine'}
{/if}
<style>
    input[type=number]
    {
        min-width:100px;
    }
</style>

{block name="main-content"}
    <div class="row">
        <div class="col-md-12">
            <div class="general-block-decorator">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="tabbed-menu" class="nav nav-tabs">
                            <li class="{if $tab eq "config"}active{/if}"><a data-toggle="tab" href="#config">{intl l="Configuration" d='doofinder.bo.default'}</a> </li>
                            <li class="{if $tab eq "engine"}active{/if}"><a data-toggle="tab" href="#engine">{intl l="Search Engine" d='doofinder.bo.default'}</a> </li>
                            <li class="{if $tab eq "parameters"}active{/if}"><a data-toggle="tab" href="#parameters">{intl l="Parameters" d='doofinder.bo.default'}</a> </li>
                            <li class="{if $tab eq "front_hooks"}active{/if}"><a data-toggle="tab" href="#front_hooks">{intl l="Front Hooks" d='doofinder.bo.default'}</a> </li>
                            <li class="{if $tab eq "excluded"}active{/if}"><a data-toggle="tab" href="#excluded">{intl l="Excluded Product" d='doofinder.bo.default'}</a> </li>
                        </ul>

                        <div class="tab-content">
                            <div id="config" class="tab-pane {if $tab eq "config"}active{/if} form-container">
                                <br>

                                <div class="title">
                                    {intl l="Doofinder configuration" d='doofinder.bo.default'}
                                </div>

                                <a href="https://admin.doofinder.com/admin">{intl l="Doofinder admin interface" d='doofinder.bo.default'}</a>

                                {form name="doofinder_form_configuration_form"}
                                    <form method="POST" action="{url path="/admin/module/Doofinder/configuration"}" {form_enctype} >

                                        {render_form_field field="success_url" value={url path='/admin/module/Doofinder'}}
                                        {render_form_field field="error_url" value={url path='/admin/module/Doofinder'}}

                                        {form_hidden_fields }

                                        {if $form_error}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-danger">{$form_error_message}</div>
                                                </div>
                                            </div>
                                        {/if}

                                        <div class="col-md-6">
                                            <div class="title">
                                                {intl l="Doofinder Server configuration" d='doofinder.bo.default'}
                                            </div>
                                            {render_form_field field='search_zone'}
                                            {render_form_field field='hash_id'}

                                            <button type="submit" class="btn btn-success" >{intl l="Save Configuration" d="doofinder.bo.default"}</button>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="title">
                                                {intl l="Doofinder User configuration" d='doofinder.bo.default'}
                                            </div>
                                            {render_form_field field='user_id'}
                                            {render_form_field field='user_token'}
                                        </div>
                                    </form>
                                {/form}
                            </div>

                            <div id="excluded" class="tab-pane {if $tab eq "excluded"}active{/if} form-container">
                                <br>

                                <ul>
                                    {loop type="product" name="doofinder_excluded_product" is_excluded=true}
                                        <li>
                                            {$TITLE}
                                            <a href="{url path="/admin/products/update?product_id=$ID"}" target="_blank">({$REF})</a>
                                        </li>
                                    {/loop}
                                </ul>
                            </div>

                            <div id="parameters" class="tab-pane {if $tab eq "parameters"}active{/if} form-container">
                                <br>

                                {form name="doofinder_form_parameter_form"}
                                    <form method="POST" action="{url path="/admin/module/Doofinder/parameters"}" {form_enctype} >

                                        {render_form_field field="success_url" value={url path='/admin/module/Doofinder'}}
                                        {render_form_field field="error_url" value={url path='/admin/module/Doofinder'}}

                                        {form_hidden_fields}

                                        {if $form_error}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-danger">{$form_error_message}</div>
                                                </div>
                                            </div>
                                        {/if}

                                        <div class="col-md-6">
                                            <div class="title">
                                                {intl l="Doofinder Parameters" d='doofinder.bo.default'}
                                            </div>
                                            {render_form_field field='real_time_sync'}
                                            <button type="submit" class="btn btn-success" >{intl l="Save Parameters" d="doofinder.bo.default"}</button>
                                        </div>
                                    </form>
                                {/form}

                            </div>

                            <div id="front_hooks" class="tab-pane {if $tab eq "front_hooks"}active{/if} form-container">
                                <br>

                                {form name="doofinder_form_front_hooks_form"}
                                    <form method="POST" action="{url path="/admin/module/Doofinder/front_hooks"}" {form_enctype} >

                                        {render_form_field field="success_url" value={url path='/admin/module/Doofinder'}}
                                        {render_form_field field="error_url" value={url path='/admin/module/Doofinder'}}

                                        {form_hidden_fields}

                                        {if $form_error}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-danger">{$form_error_message}</div>
                                                </div>
                                            </div>
                                        {/if}

                                        <div class="col-md-6">
                                            <div class="title">
                                                {intl l="Doofinder Server configuration" d='doofinder.bo.default'}
                                            </div>
                                            {render_form_field field='hook_search_script'}
                                            {render_form_field field='query_input_id'}
                                            {render_form_field field='basic_search_bar'}
                                            <button type="submit" class="btn btn-success" >{intl l="Save Configuration" d="doofinder.bo.default"}</button>
                                        </div>
                                    </form>
                                {/form}
                            </div>

                            <div id="engine" class="tab-pane {if $tab eq "engine"}active{/if} form-container">
                                <br>

                                <div class="title">
                                    {intl l="Doofinder Search Engine" d='doofinder.bo.default'}
                                </div>

                                <a href="https://admin.doofinder.com/admin">{intl l="Doofinder admin interface" d='doofinder.bo.default'}</a>

                                {if $smarty.get.sync|default:null === "success"}
                                    <div class="alert alert-success">{intl l="Syncronization success" d='doofinder.bo.default'}</div>
                                {/if}

                                {if $smarty.get.sync|default:null === "failed"}
                                    <div class="alert alert-danger">{intl l="Syncronization failed" d='doofinder.bo.default'}</div>
                                {/if}

                                <div>
                                    {intl l="URL product feeds" d='doofinder.bo.default'} :
                                    <ul>
                                    {foreach $feeds as $key => $feed}
                                        {foreach $feed as $datasource}
                                            <li><a href="{$datasource}">{$datasource}</a></li>
                                        {/foreach}
                                    {/foreach}
                                    </ul>
                                </div>
                                <hr><br>
                                <div>
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>{intl l="Name" d='doofinder.bo.default'}</th>
                                            <th>{intl l="Language" d='doofinder.bo.default'}</th>
                                            <th>{intl l="Server" d='doofinder.bo.default'}</th>
                                            <th>{intl l="Hash ID" d='doofinder.bo.default'}</th>
                                            <th>{intl l="Currency" d='doofinder.bo.default'}</th>
                                            <th>{intl l="Status" d='doofinder.bo.default'}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{$search_engine}</td>
                                            <td>{$search_engine_lang}</td>
                                            <td>{$search_engine_server}</td>
                                            <td>{$search_engine_hash_id}</td>
                                            <td>{$search_engine_currency}</td>
                                            <td>{if $search_engine_status}
                                                    {intl l="Activated" d='doofinder.bo.default'}
                                                {else}
                                                    {intl l="Disabled" d='doofinder.bo.default'}
                                                {/if}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <a href="/admin/module/Doofinder/sync/all" class="btn btn-success {if !$search_engine_status} disabled {/if}">{intl l="Syncronize all products" d="doofinder.bo.default"}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}