<div class="card mb-3">
    <div class="card-body">
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="doofinder-is-excluded"
                   data-exclude-url="{{ path('admin_doofinder_excluded_product_exclude_product', {'id': product_id}) }}"
                   value="1" {{ is_excluded ? 'checked' }}>
            <label class="form-check-label" for="doofinder-is-excluded">
                <strong>{{ 'Doofinder Search Engine'|trans({}, 'doofinder.bo.default') }}</strong><br>
                {{ 'This product is exclude from Doofinder Search Engine'|trans({}, 'doofinder.bo.default') }}
            </label>
        </div>
    </div>
</div>

<script>
    (function () {
        const switchInput = document.getElementById('doofinder-is-excluded');
        if (!switchInput) {
            return;
        }
        switchInput.addEventListener('change', function (event) {
            const isExcluded = event.target.checked;
            const body = new URLSearchParams();
            body.append('is_excluded', isExcluded ? 'true' : 'false');

            fetch(event.target.dataset.excludeUrl, {
                method: 'POST',
                headers: {'X-Requested-With': 'XMLHttpRequest'},
                body: body
            });
        });
    })();
</script>
